/* Importando a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Aplicando no corpo da página e títulos */
body, h1, h2, h3, h4, h5, h6, .card-header, label, button, .DateInput_input {
    font-family: 'Montserrat', sans-serif !important;
}

/* Ajuste fino para os inputs de data ficarem bonitos no tema escuro */
.DateInput_input {
    font-size: 14px !important;
}